body {
  margin: 0;
}
#plostina {
  margin-top: 155px;
}
#r {
  margin-left: 160px;
  margin-top: 123px;
  width: 80px;
  position: relative;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.imgC {
  position: absolute;
}
.btn {
  margin-top: 125px;
  margin-left: 5px;
  position: absolute;
  border-radius: 20px;
  background: #6592cf;
  border: 1px solid black;
  color: #eee;
}
#plostina {
  margin-left: 120px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: red;
  box-shadow: 0 0 8px 0 red;
}
#perimetar {
  margin-top: 21px;
  margin-left: 120px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: red;
  box-shadow: 0 0 8px 0 red;
}
.p {
  position: absolute;
  margin-top: 155px;
  margin-left: 8px;
}
.l {
  position: absolute;
  margin-left: 6px;
}
#back {
  font-size: 40px;
  position: absolute;
  margin-left: 8px;
  margin-top: 3px;
}
#a {
  margin-left: 92px;
  margin-top: 29px;
  width: 110px;
  position: relative;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
#plostinaNaKvadrat {
  margin-top: 210px;
  margin-left: 125px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: red;
  box-shadow: 0 0 8px 0 red;
}
.p1 {
  position: absolute;
  margin-top: 210px;
  margin-left: 10px;
}
.l1 {
  position: absolute;
  margin-left: 7px;
}
#perimetarNaKvadrat {
  position: absolute;
  margin-top: 20px;
  margin-left: 125px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: red;
  box-shadow: 0 0 8px 0 red;
}
#aR {
  margin-left: 92px;
  margin-top: 50px;
  width: 110px;
  position: relative;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
#plostinaNaPravoagolnik {
  margin-top: 210px;
  margin-left: 125px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: red;
  box-shadow: 0 0 8px 0 red;
}
.p2 {
  position: absolute;
  margin-top: 210px;
  margin-left: 10px;
}
.l2 {
  position: absolute;
  margin-left: 7px;
}
#perimetarNaPravoagolnik {
  position: absolute;
  margin-top: 20px;
  margin-left: 125px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: red;
  box-shadow: 0 0 8px 0 red;
}
#bR {
  margin-left: 262px;
  margin-top: 65px;
  width: 110px;
  position: absolute;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.btn1 {
  margin-top: 30px;
  margin-left: 5px;
  position: absolute;
  border-radius: 20px;
  background: #6592cf;
  border: 1px solid black;
  color: #eee;
}
.btn2 {
  margin-top: 150px;
  margin-left: 140px;
  position: absolute;
  border-radius: 20px;
  background: #6592cf;
  border: 1px solid black;
  color: #eee;
  font-size: 22px;
}
